:root {
  --orange-purple-blend:linear-gradient(160deg, rgba(255, 196, 70, 0.75), rgb(255, 126, 21)); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-image: var(--orange-purple-blend);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.7;
  min-height: 100vh; }

  .row {
    padding: 0px 10px;
    font-size: 18px;
  }

