:root{
  // --orange-purple-blend:linear-gradient(160deg, rgba(255, 124, 37, 0.75), rgba(100, 44, 253,0.85));
  --orange-purple-blend:linear-gradient(160deg,  rgba(255, 126, 21,.75),rgba(255, 196, 70, 0.5));
}
* {
  margin:0;
  padding:0;
}
*, 
*::before,
*::after {
  box-sizing: inherit;
}
html{
  box-sizing: border-box;
  font-size: 62.5%; //62.5% of 16px(browser's font size) = 10px
}
body {
  background-image: var(--orange-purple-blend);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.7;
  min-height: 100vh;
}

